{% load i18n %}
{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <title>XMPP - Twnel client</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <form id="formMessage" action="/" method="POST" class="well">
            {% csrf_token %}
                <fieldset>
                    <legend> Send a message to a user in your network </legend>

                    <label for="server">XMPP Server</label>
                    <input name="server" id="server" type="text" class="input-xlarge" placeholder="ex. http://ec2-50-19-51-82.compute-1.amazonaws.com/">

                    <label for="login">From:</label>
                    <input name="login" id="login" type="text" autocomplete="off" class="input-xlarge" placeholder="just the user">

                    <label for="password">Password</label>
                    <input name="password" id="password" type="password" autocomplete="off" class="input-xlarge">

                    <label for="user">To:</label>
                    <input name="user" id="user" type="text" class="input-xlarge" placeholder="just the user"> 

                    <label for="message">Message</label>
                    <textarea name="message" class="field input-xlarge" id="message"></textarea>
                    
                </fieldset>
                <button type="submit" class="btn btn-large btn-info">Send</button>
                <span class="label {{ display }}">{{ result }}</span>
            </form>
        </div>
    </div>
</body>
</html>